{% extends "base.html" %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block link_users %}
  <li><a href="{% url 'users_index' %}" class="nav-link px-2 fs-5 link-secondary text-secondary">{% translate "Users" %}</a></li>
{% endblock link_users %}

{% block content %}
  <h1 class="text-warning text-center">{% translate "Users" %}</h1>
  <hr class="border-bottom border-3 border-warning">
  <table class="table table-dark table-bordered align-middle text-center">
      <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>{% translate "Username" %}</th>
        <th>{% translate "Full name" %}</th>
        <th>{% translate "Creation date" %}</th>
        <th>{% translate "Actions" %}</th>
      </tr>
    </thead>
    {% translate "Change" as change %}
    {% translate "Delete" as delete %}
    <tbody>
      {% for register_user in object_list %}
        <tr {% if register_user.username == user.username %} class='fw-bolder table-light'{% endif %}>
          <td class="text-warning">{{ register_user.id }}</td>
          <td>{{ register_user.username }}</td>
          <td>{{ register_user.get_full_name}}</td>
          <td>{{ register_user.date_joined }}</td>
          <td>
            <a href="{% url 'users_update' register_user.id %}" class="nav-link px-2 link-warning text-secondary">{{ change }}</a>
            <a href="{% url 'users_delete' register_user.id %}" class="nav-link px-2 link-warning text-secondary">{{ delete }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}